<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_HOST</key>
	<string>$(API_HOST)</string>
	<key>API_PATH</key>
	<string>$(API_PATH)</string>
	<key>MAX_RETRIES</key>
	<string>$(MAX_RETRIES)</string>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>XCSourceEditorCommandDefinitions</key>
			<array>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).SourceEditorCommand</string>
					<key>XCSourceEditorCommandName</key>
					<string>Source Editor Command</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).CommentWithLlama</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).CommentWithLlama</string>
					<key>XCSourceEditorCommandName</key>
					<string>Comment With Llama</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).DocumentWithChatGPT</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).DocumentWithChatGPT</string>
					<key>XCSourceEditorCommandName</key>
					<string>Document With ChatGPT</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).FeatureWithChatGPT</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).FeatureWithChatGPT</string>
					<key>XCSourceEditorCommandName</key>
					<string>Feature With ChatGPT</string>
				</dict>
			</array>
			<key>XCSourceEditorExtensionPrincipalClass</key>
			<string>$(PRODUCT_MODULE_NAME).SourceEditorExtension</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.dt.Xcode.extension.source-editor</string>
	</dict>
	<key>PORT</key>
	<string>$(PORT)</string>
</dict>
</plist>
